.App {
  text-align: center;
}

.App-logo {
  height: 90px;
  margin: 0px;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Body {
  margin: 10px 0;
  font-family: "Avenir Next", Arial;
  width: 100%;
}

.LeftCol {
  text-align: left;
}

.NavBar {
  text-align: left;
  flex-flow: row;
  height: 30px;
  background-color: #248f87;
  margin: 0px;
}

.NavBar ul {
  flex-direction: column;
  margin-left: -25px;
  margin-top: 5px;
}

.NavBar li {
  text-decoration: none;
  display: inline-flex;
  padding-left: 10px;
  margin: 5px;
  margin-top: 15px;
}

.NavBar a {
  font: 18px "Avenir Next", Arial;
  color: black;
  display: inline;
  text-decoration: none;
}

.NavBar a:hover {
  color: darkslategrey;
  text-decoration: underline;
}

.accountSummary {
  text-align: right;
  padding: 0px;
}

.greyBackground {
  background-color: #e2dede;
  border-right: 1px solid #e2dede;
  padding-right: 0px;
  margin: 0px;
}

.budgetPickerDiv {
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 10px;
  font-weight: 600;
}

#budgetPicker {
  margin: -16px 5px 8px;
}

.totalRow {
  font-weight: bold;
}

.balances {
  width: 100px;
  right: 5px;
  margin: 0px;
  padding: 2px;
}

.accounts {
  border: 1px dotted #333;
  display: inline-flex;
  align-content: center;
  width: 90%;
}

.accounts h2 {
  margin: 15px;
}

.accountsTable {
  width: 100%;
  background-color: white;
  font-size: 90%;
}

.leftLinkButtons {
  padding-right: 40px;
  text-align: center;
}

.rightLinkButtons {
  padding-left: 40px;
  text-align: center;
}

.ynabSide {
  width: 75%;
  border: 1px solid #333;
  margin: 1%;
  background-color: rgba(212, 242, 242, 0.27);
}

#ynabBudget {
  display: inline-block;
  padding: 15px;
}

#ynoodAccounts {
  display: inline-block;
  padding: 15px;
}

.ynoodSide {
  width: 75%;
  border: 1px solid #333;
  margin: 1%;
  background-color: rgba(212, 242, 242, 0.27);
}

.connectButtons {
  width: 25%;
  text-align: center;
  font-size: 12px;
}

.login {
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
  font-weight: 600;
  padding: 0px;
}

.spinner {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  width: 200px;
  height: 200px;
  margin: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
}

.shaky {
  animation: shake 0.9s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}