.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Body {
  margin: 30px;
  font-family: "Avenir Next", Arial;
  width: 100%;
}

.LeftCol {
  text-align: left;
}

.NavBar {
  text-align: left;
  flex-flow: row;
  height: 20px;
  background-color: #f0efef;
  margin: 0px;
}

.NavBar ul {
  flex-direction: column;
}

.NavBar li {
  text-decoration: none;
  display: inline-flex;
  padding-left: 10px;
}

.NavBar a {
  font: 16px "Avenir Next", Arial;
  color: cadetblue;
  display: inline;
  text-decoration: none;
}

.NavBar a:hover {
  color: darkslategrey;
  text-decoration: underline;
}

.accountSummary {
  text-align: right;
}

.greyBackground{
	background-color: #e2dede;
}

#budgetPicker{
	margin: 10px 10px 30px;
}

.totalRow {
  font-weight: bold;
}

.balances {
	width: 100px;
	right: 5px;
}

.accounts {
  border: 1px dotted #333;
  display: inline-flex;
  align-content: center;
  width: 90%;
}

.accountsTable{
	width: 100%;
	background-color: white;
	font-size: 90%;
	
}

.YNABside {
  width: 75%;
  border: 1px solid #333;
  margin: 1%;
    background-color: rgba(212, 242, 242, 0.27);
}

.YNOUDside {
  width: 75%;
  border: 1px solid #333;
  margin: 1%;
    background-color: rgba(212, 242, 242, 0.27);
  
}